@font-face {
    font-family: Monospaced;
    src: url('fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
}

body {
    margin-left: 1rem;
    font-family: Monospaced, monospace;
    color: midnightblue
}

h1 {
    font-family: Monospaced, monospace;
    color: pink
}

h2 {
    font-family: Monospaced, monospace;
    color: darkcyan;
}

h3 {
    font-family: Monospaced, monospace;
    color: darkgoldenrod;
}

.detailsEntry {
    margin-left: 2rem;
}

ul.detailsEntry {
    list-style-type: circle;
    background: #e4f0f5;
    padding: 5px;
}

.footer {
    margin-top: 3rem;
    font-size: small;
}

.question-text {
    font-weight: bold;
}

.textarea_3rem {
    /* height: 3rem;*/
    font-family: Monospaced, monospace;
    color: midnightblue;
    resize: none;
    overflow: hidden;
    min-height: 3rem;
    max-height: 16rem;
}

.custom-control-description > span > label {
    transform: translate(0,-2.5rem);
    color: red;
}

.item {
    background: #83bbd2;
}
.attached-open {
    background: lightblue;
}

.header {
    background: lightcoral;
}

.answer-option {
    background: lightgoldenrodyellow;
}

.aux_var_expl {
    background-color: #f8e6e0;
}
.aux_var_impl {
    background-color: #fae0e0;
}

.triggers_json_save {
    background-color: #9ed0e0;
}