@font-face {
    font-family: Monospaced;
    src: url('fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
}

body {
    font-family: Monospaced, monospace;
    color: midnightblue
}

h1 {
    font-family: Monospaced, monospace;
    color: pink
}

.detailsEntry {
    margin-left: 2rem;
}

ul.detailsEntry {
    list-style-type: circle;
    background: #e4f0f5;
    padding: 5px;
}

.footer {
    margin-top: 3rem;
    font-size: small;
}