<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {#    <script>#}
    {#        window.uploaded_files = {{ uploaded_files|tojson }};#}
    {#    </script>#}
    {#    <script src="{{ url_for('static', filename='process.js') }}"></script>#}
</head>
<body>
<h1>QML Details</h1>
{% for key in details_data.keys() %}
    <a href="#{{ key }}">{{ key }}</a> <br>
{% endfor %}

{% for key, val in details_data.items() %}
    <article id="article{{ i }}">
        <section id="{{ key }}">
            <h2>{{ val['title'] }}</h2>

            {% if 'comment' in val %}
                <div class="detailsComment"> {{ val['comment'] }}</div>
            {% endif %}

            <!-- <div class="detailsEntry">{{ val['data'] }}</div> -->


            {% if val['data'].__class__.__name__ == 'dict' or val['data'].__class__.__name__ == 'OrderedDict' %}
                <table class="detailsEntry">
                    {% for key2, val2 in val['data'].items() %}
                        <tr>
                            <td> {{ key2 }}</td>
                            <td style="text-align: left"> {{ val2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if val['data'].__class__.__name__ == 'list' %}
                <ul class="detailsEntry">
                    {% for entry in val['data'] %}
                            <li> {{ entry }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if val['data'].__class__.__name__ == 'str' %}
                <ul class="detailsEntry">
                    <p>{{ entry }}</p>
                </ul>
            {% endif %}
        </section>
    </article>
{% endfor %}

</body>
</html>