<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>generate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">

</head>
<body>
<form method="post">
    <input type="hidden" name="type" value="mqsc"/>
    <div id="mqsc">
        <h1>single choice matrix</h1>

        <div class="form-generate">
            <p><label for="question_uid">uid</label></p>
            <p><input type="text" name="question_uid" id="question_uid" size="4" value="{{ gen_data['q_uid'] }}"></p>
        </div>

        <div class="form-generate">
            <p><label for="question_visible">visible</label></p>
            <p><input type="text" name="question_visible" id="question_visible" size="45"
                      value="{{ gen_data['q_visible'] }}"></p>
        </div>

        <hr>

        <h2> question header</h2>
        <table>
            {% for i, header in gen_data['headers'].items() %}
                <tr>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_uid">uid</label></p>
                            <p><input type="text" name="header{{ i }}_uid" id="header{{ i }}_uid" size="4"
                                      value="{{ header['uid'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <p><label for="header{{ i }}_type">type</label></p>
                        <p><label>
                            <select name="header{{ i }}_type" size="1">
                                <option value="question"{% if header.type=='question' %} selected="selected"{% endif %}>
                                    question
                                </option>
                                <option value="introduction"{% if header.type=='introduction' %}
                                        selected="selected"{% endif %}>introduction
                                </option>
                                <option value="instruction"{% if header.type=='instruction' %}
                                        selected="selected"{% endif %}>instruction
                                </option>
                            </select>
                        </label>
                        </p>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_type">value</label></p>
                            <p><input type="text" name="header{{ i }}_value" id="header{{ i }}_type" size="5"
                                      value="{{ header['value'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_text">header text</label></p>
                            <p><input type="text" name="header{{ i }}_text" id="header{{ i }}_text" size="40"
                                      value="{{ header['text'] }}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="form-generate">
                            <p><label for="header{{ i }}_visible">visible</label></p>
                            <p><input type="text" name="header{{ i }}_visible" id="header{{ i }}_visible" size="75"
                                      value="{{ header['visible'] }}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% if i != 1 %}
                            <button class="favorite styled" type="submit" value="header{{ i }}" name="up">up</button>
                        {% endif %}
                        {% if i != gen_data['headers']|length %}
                            <button class="favorite styled" type="submit" value="header{{ i }}" name="down">down
                            </button>
                        {% endif %}

                        <button class="favorite styled" type="submit" value="header{{ i }}" name="remove">remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button class="favorite styled" type="submit" value="add_header" name="submit">add header</button>

        <hr>

        <h2> answer options</h2>
        <table>
            {% for i, ao in gen_data['aos'].items() %}
                <tr>
                    <td>
                        <div class="form-generate">
                            <p><label for="ao{{ i }}_uid">uid</label></p>
                            <p><input type="text" name="ao{{ i }}_uid" id="ao{{ i }}_uid" size="4"
                                      value="{{ ao['uid'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <div class=" form-generate">
                            <p><label for="ao{{ i }}_value">value</label></p>
                            <p><input type="text" name="ao{{ i }}_value" id="ao{{ i }}_value" size="5"
                                      value="{{ ao['value'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="ao{{ i }}_label">label</label></p>
                            <p><input type="text" name="ao{{ i }}_label" id="ao{{ i }}_label" size="45"
                                      value="{{ ao['label'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="ao{{ i }}_missing">missing</label></p>
                            <p><input type="checkbox" name="ao{{ i }}_missing"
                                      id="ao{{ i }}_missing" {{ "checked" if 'missing' in ao }}></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="form-generate">
                            <p><label for="ao{{ i }}_visible">visible</label></p>
                            <p><input type="text" name="ao{{ i }}_visible" id="ao{{ i }}_visible" size="75"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button class="favorite styled" type="submit" value="ao1" name="up">up</button>
                        <button class="favorite styled" type="submit" value="ao1" name="remove">remove</button>
                        <button class="favorite styled" type="submit" value="ao1" name="down">down</button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button class="favorite styled" type="submit" value="add_ao" name="submit">add ao</button>

        <hr>

        <h2> items </h2>
        <table>
            <tr>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_uid">uid</label></p>
                        <p><input type="text" name="item1_uid" id="item1_uid" size="4"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_variable">variable</label></p>
                        <p><input type="text" name="item1_variable" id="item1_variable" size="5"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_text">label</label></p>
                        <p><input type="text" name="item1_text" id="item1_text" size="50"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-generate">
                        <p><label for="item1_visible">visible</label></p>
                        <p><input type="text" name="item1_visible" id="item1_visible" size="75"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="favorite styled" type="submit" value="item1" name="up">up</button>
                    <button class="favorite styled" type="submit" value="item1" name="remove">remove</button>
                    <button class="favorite styled" type="submit" value="item1" name="down">down</button>
                </td>
            </tr>
        </table>

        <button class="favorite styled" type="submit" value="add_item" name="submit">add ao</button>

        <hr>

        <button class="favorite styled" type="submit" value="gen_xml" name="submit">gen xml</button>
        <button class="favorite styled" type="submit" value="clear" name="clear">clear</button>

    </div>


    {% if 'qml' in gen_data.keys() %}
        <hr>
        <h2>
            generated QML code
        </h2>
        <div>
            <pre>
            {{ gen_data['qml'] }}
            </pre>
        </div>
    {% endif %}

    {% if 'html' in gen_data.keys() %}
        <hr>
        <h2>rendered HTML preview</h2>
        <div>
            {{ gen_data['html'] }}
        </div>

        <article id="form:example:mqsc" class="singlechoicematrix">
            <header class="question-main" id="form:example:mqsc:q1_header">
                <div class="question-text" id="form:example:mqsc:q1"> Inwieweit treffen die folgenden Aussagen auf Ihre
                    Promotionsphase zu? <br> <br> In meinem wissenschaftlichen Umfeld gab es immer jemanden, der/die ...
                </div>
            </header>
            <div id="form:example:mqsc:rd" class="form-orientation form-responsive ">
                <div class="form-scroller">
                    <div class="question-sub">
                        <div class="container"><p class="text-head hidden-md-up"
                                                  data-carousel-head-id="form_B17_mqsc2_rd_carousel"
                                                  style="opacity: 1;">mir
                            bei inhaltlichen Fragen zu meiner Promotion weiterhalf.</p></div>
                    </div>
                    <div class="form-inner form-2-col pt-2 pt-sm-4">
                        <div class="container">
                            <div id="form_B17_mqsc2_rd_carousel" class="carousel slide" data-interval="false">
                                <div class="zofar-ol-custom hidden-md-up">
                                    <ol class="carousel-indicators carousel-indicators-numbers hidden-md-up">
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="0" class="active">1
                                        </li>
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="1">2
                                        </li>
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="2">3
                                        </li>
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="3">4
                                        </li>
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="4">5
                                        </li>
                                        <li data-target="#form_B17_mqsc2_rd_carousel" data-slide-to="5">6
                                        </li>
                                    </ol>
                                </div>
                                <div class="carousel-inner" role="listbox">
                                    <div id="form:B17:mqsc2:rd:item1b"
                                         class="row highlight highlight-even carousel-item item active"
                                         data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item1b:q_header">
                                            mir
                                            bei inhaltlichen Fragen zu meiner Promotion weiterhalf.</p></div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item1b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0; left: 0;"><label class="pipe-zofar-item"
                                                                                         data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item1b:rd"
                                                            id="form:B17:mqsc2:rd:item1b:rd:ao1" value="ao1"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0; left: 0;"><label class="pipe-zofar-item"
                                                                                         data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item1b:rd"
                                                            id="form:B17:mqsc2:rd:item1b:rd:ao2" value="ao2"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item1b:rd"
                                                            id="form:B17:mqsc2:rd:item1b:rd:ao3" value="ao3"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item1b:rd"
                                                            id="form:B17:mqsc2:rd:item1b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item1b:rd','form:B17:mqsc2:rd:item1b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item1b:rd"
                                                            id="form:B17:mqsc2:rd:item1b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item1b:rd','form:B17:mqsc2:rd:item1b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form:B17:mqsc2:rd:item2b"
                                         class="row highlight highlight-odd carousel-item item" data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item2b:q_header">
                                            mir
                                            bei methodischen/technischen Fragen zu meiner Promotion behilflich war.</p>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item2b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item2b:rd"
                                                            id="form:B17:mqsc2:rd:item2b:rd:ao1" value="ao1"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item2b:rd','form:B17:mqsc2:rd:item2b:rd:ao1');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item2b:rd"
                                                            id="form:B17:mqsc2:rd:item2b:rd:ao2" value="ao2"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item2b:rd','form:B17:mqsc2:rd:item2b:rd:ao2');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item2b:rd"
                                                            id="form:B17:mqsc2:rd:item2b:rd:ao3" value="ao3"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item2b:rd','form:B17:mqsc2:rd:item2b:rd:ao3');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item2b:rd"
                                                            id="form:B17:mqsc2:rd:item2b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item2b:rd','form:B17:mqsc2:rd:item2b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item2b:rd"
                                                            id="form:B17:mqsc2:rd:item2b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item2b:rd','form:B17:mqsc2:rd:item2b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form:B17:mqsc2:rd:item3b"
                                         class="row highlight highlight-even carousel-item item" data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item3b:q_header">
                                            mir
                                            mit seinem/ihrem Fachwissen zur Seite stand.</p></div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item3b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item3b:rd"
                                                            id="form:B17:mqsc2:rd:item3b:rd:ao1" value="ao1"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item3b:rd','form:B17:mqsc2:rd:item3b:rd:ao1');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item3b:rd"
                                                            id="form:B17:mqsc2:rd:item3b:rd:ao2" value="ao2"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item3b:rd','form:B17:mqsc2:rd:item3b:rd:ao2');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item3b:rd"
                                                            id="form:B17:mqsc2:rd:item3b:rd:ao3" value="ao3"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item3b:rd','form:B17:mqsc2:rd:item3b:rd:ao3');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item3b:rd"
                                                            id="form:B17:mqsc2:rd:item3b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item3b:rd','form:B17:mqsc2:rd:item3b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item3b:rd"
                                                            id="form:B17:mqsc2:rd:item3b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item3b:rd','form:B17:mqsc2:rd:item3b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form:B17:mqsc2:rd:item4b"
                                         class="row highlight highlight-odd carousel-item item" data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item4b:q_header">
                                            mich
                                            emotional unterstützt hat.</p></div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item4b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item4b:rd"
                                                            id="form:B17:mqsc2:rd:item4b:rd:ao1" value="ao1"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item4b:rd','form:B17:mqsc2:rd:item4b:rd:ao1');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item4b:rd"
                                                            id="form:B17:mqsc2:rd:item4b:rd:ao2" value="ao2"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item4b:rd','form:B17:mqsc2:rd:item4b:rd:ao2');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item4b:rd"
                                                            id="form:B17:mqsc2:rd:item4b:rd:ao3" value="ao3"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item4b:rd','form:B17:mqsc2:rd:item4b:rd:ao3');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item4b:rd"
                                                            id="form:B17:mqsc2:rd:item4b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item4b:rd','form:B17:mqsc2:rd:item4b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item4b:rd"
                                                            id="form:B17:mqsc2:rd:item4b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item4b:rd','form:B17:mqsc2:rd:item4b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form:B17:mqsc2:rd:item5b"
                                         class="row highlight highlight-even carousel-item item" data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item5b:q_header">
                                            ein
                                            offenes Ohr für meine Sorgen hatte.</p></div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item5b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item5b:rd"
                                                            id="form:B17:mqsc2:rd:item5b:rd:ao1" value="ao1"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item5b:rd','form:B17:mqsc2:rd:item5b:rd:ao1');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item5b:rd"
                                                            id="form:B17:mqsc2:rd:item5b:rd:ao2" value="ao2"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item5b:rd','form:B17:mqsc2:rd:item5b:rd:ao2');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item5b:rd"
                                                            id="form:B17:mqsc2:rd:item5b:rd:ao3" value="ao3"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item5b:rd','form:B17:mqsc2:rd:item5b:rd:ao3');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item5b:rd"
                                                            id="form:B17:mqsc2:rd:item5b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item5b:rd','form:B17:mqsc2:rd:item5b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item5b:rd"
                                                            id="form:B17:mqsc2:rd:item5b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item5b:rd','form:B17:mqsc2:rd:item5b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form:B17:mqsc2:rd:item6b"
                                         class="row highlight highlight-odd carousel-item item" data-matrix="item">
                                        <div class="col-md-4 hidden-sm-down"><p class="text-sub"
                                                                                id="form:B17:mqsc2:rd:item6b:q_header">
                                            mir
                                            in schwierigen Zeiten Mut machte.</p></div>
                                        <div class="col-12 col-md-8">
                                            <div id="form:B17:mqsc2:rd:item6b:rd:rdc"
                                                 class="custom-form custom-form-radio add-pipe pipe-98">
                                                <div class="flex-wrapper">
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item6b:rd"
                                                            id="form:B17:mqsc2:rd:item6b:rd:ao1" value="ao1"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item6b:rd','form:B17:mqsc2:rd:item6b:rd:ao1');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(1) trifft gar nicht zu</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item6b:rd"
                                                            id="form:B17:mqsc2:rd:item6b:rd:ao2" value="ao2"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item6b:rd','form:B17:mqsc2:rd:item6b:rd:ao2');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>2</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item6b:rd"
                                                            id="form:B17:mqsc2:rd:item6b:rd:ao3" value="ao3"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item6b:rd','form:B17:mqsc2:rd:item6b:rd:ao3');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>3</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item6b:rd"
                                                            id="form:B17:mqsc2:rd:item6b:rd:ao4" value="ao4"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item6b:rd','form:B17:mqsc2:rd:item6b:rd:ao4');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>4</span></span></label>
                                                    </div>
                                                    <div class="custom-control custom-radio pipe-zofar-item-parent"
                                                         style="top: 0px; left: 0px;"><label class="pipe-zofar-item"
                                                                                             data-label-pos="right"><input
                                                            type="radio" name="form:B17:mqsc2:rd:item6b:rd"
                                                            id="form:B17:mqsc2:rd:item6b:rd:ao5" value="ao5"
                                                            onchange="javascript:zofar_singleChoice_triggerRadio('form:B17:mqsc2:rd:item6b:rd','form:B17:mqsc2:rd:item6b:rd:ao5');"
                                                            class="custom-control-input"><span
                                                            data-label-type="indicator"
                                                            class="custom-control-indicator"> </span><span
                                                            data-label-type="description"
                                                            class="custom-control-description hidden-md-up"><span>(5) trifft völlig zu</span></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>


    {% endif %}


</form>
</body>
</html>