<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>generate</title>
</head>
<body>
<form method="post">
    <input type="hidden" name="type" value="mqsc"/>
    <div id="mqsc">
        <h1>single choice matrix</h1>

        <div class="form-generate">
            <p><label for="question_uid">uid</label></p>
            <p><input type="text" name="question_uid" id="question_uid" size="4" value="{{ gen_data['q_uid'] }}"></p>
        </div>

        <div class="form-generate">
            <p><label for="question_visible">visible</label></p>
            <p><input type="text" name="question_visible" id="question_visible" size="45"
                      value="{{ gen_data['q_visible'] }}"></p>
        </div>

        <hr>

        <h2> question header</h2>
        <table>
            {% for i, header in gen_data['headers'].items() %}
                <tr>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_uid">uid</label></p>
                            <p><input type="text" name="header{{ i }}_uid" id="header{{ i }}_uid" size="4"
                                      value="{{ header['uid'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <p><label for="header{{ i }}_type">type</label></p>
                        <p><label>
                            <select name="header{{ i }}_type" size="1">
                                <option value="question"{% if header.type=='question' %} selected="selected"{% endif %}>
                                    question
                                </option>
                                <option value="introduction"{% if header.type=='introduction' %}
                                        selected="selected"{% endif %}>introduction
                                </option>
                                <option value="instruction"{% if header.type=='instruction' %}
                                        selected="selected"{% endif %}>instruction
                                </option>
                            </select>
                        </label>
                        </p>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_type">value</label></p>
                            <p><input type="text" name="header{{ i }}_value" id="header{{ i }}_type" size="5"
                                      value="{{ header['value'] }}"></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-generate">
                            <p><label for="header{{ i }}_text">header text</label></p>
                            <p><input type="text" name="header{{ i }}_text" id="header{{ i }}_text" size="40"
                                      value="{{ header['text'] }}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="form-generate">
                            <p><label for="header{{ i }}_visible">visible</label></p>
                            <p><input type="text" name="header{{ i }}_visible" id="header{{ i }}_visible" size="75"
                                      value="{{ header['visible'] }}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button class="favorite styled" type="submit" value="header{{ i }}" name="up">up</button>
                        <button class="favorite styled" type="submit" value="header{{ i }}" name="remove">remove
                        </button>
                        <button class="favorite styled" type="submit" value="header{{ i }}" name="down">down</button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button class="favorite styled" type="submit" value="add_header" name="submit">add header</button>

        <hr>

        <h2> answer options</h2>
        <table>
            {% for i, ao in gen_data['aos'].items() %}
            <tr>
                <td>
                    <div class="form-generate">
                        <p><label for="ao{{ i }}_uid">uid</label></p>
                        <p><input type="text" name="ao{{ i }}_uid" id="ao{{ i }}_uid" size="4" value="{{ ao['uid'] }}"></p>
                    </div>
                </td>
                <td>
                    <div class=" form-generate">
                        <p><label for="ao{{ i }}_value">value</label></p>
                        <p><input type="text" name="ao{{ i }}_value" id="ao{{ i }}_value" size="5" value="{{ ao['value'] }}"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="ao{{ i }}_label">label</label></p>
                        <p><input type="text" name="ao{{ i }}_label" id="ao{{ i }}_label" size="45" value="{{ ao['label'] }}"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="ao{{ i }}_missing">missing</label></p>
                        <p><input type="checkbox" name="ao{{ i }}_missing" id="ao{{ i }}_missing" {{ "checked" if 'missing' in ao }}></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="form-generate">
                        <p><label for="ao{{ i }}_visible">visible</label></p>
                        <p><input type="text" name="ao{{ i }}_visible" id="ao{{ i }}_visible" size="75"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="favorite styled" type="submit" value="ao1" name="up">up</button>
                    <button class="favorite styled" type="submit" value="ao1" name="remove">remove</button>
                    <button class="favorite styled" type="submit" value="ao1" name="down">down</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <button class="favorite styled" type="submit" value="add_ao" name="submit">add ao</button>

        <hr>

        <h2> items </h2>
        <table>
            <tr>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_uid">uid</label></p>
                        <p><input type="text" name="item1_uid" id="item1_uid" size="4"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_variable">variable</label></p>
                        <p><input type="text" name="item1_variable" id="item1_variable" size="5"></p>
                    </div>
                </td>
                <td>
                    <div class="form-generate">
                        <p><label for="item1_text">label</label></p>
                        <p><input type="text" name="item1_text" id="item1_text" size="50"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-generate">
                        <p><label for="item1_visible">visible</label></p>
                        <p><input type="text" name="item1_visible" id="item1_visible" size="75"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="favorite styled" type="submit" value="item1" name="up">up</button>
                    <button class="favorite styled" type="submit" value="item1" name="remove">remove</button>
                    <button class="favorite styled" type="submit" value="item1" name="down">down</button>
                </td>
            </tr>
        </table>

        <button class="favorite styled" type="submit" value="add_item" name="submit">add ao</button>

        <hr>

        <button class="favorite styled" type="submit" value="gen_xml" name="submit">add ao</button>
        <button class="favorite styled" type="submit" value="clear" name="submit">add ao</button>

    </div>
</form>
</body>
</html>